# Node Modules
node_modules/

# Build Output
build/
dist/

# Package Manager Lockfiles
package-lock.json
yarn.lock

# Debug Files
npm-debug.log
yarn-debug.log
yarn-error.log

# Editor Files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# Coverage Reports
coverage/